/* pratica com diplay: flex */

.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
}

/* .item{
    background-color: aqua;
    margin: 5px;
} */

/* 1 flex direction  */
/* 
.flex-container{
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;

    min-width: 0;
    min-height: 0;
} */

/* .flex-item{
   background: blue;
   height: 50px;
   width: 50px;
   line-height: 50px; 
   font-size: 20px;
   color: white;
   text-align: center;
   margin: 5px;
} */

.row{
    flex-direction: row;
}
.row-reverse {
    flex-direction: row-reverse;
}

.row-reverse li{
    background-color: red;
    flex-direction: row-reverse;
}

/* .column{
    float: left;
    flex-direction: column;
} */

.column li{
    background: orange;
}

.column-reverse{
    float: right;
    flex-direction: column-reverse;
}

.column-reverse li{
   background: rebeccapurple; 
}


/* =============flex wrap============================================================================= */

/* .flex-container{
    display: flex;
    height: 100px;
    border: 2px solid black;
    max-width: 300px;
} */

/* .item{
    font-size: 24px;
    height: 50%;
    text-align: center;
    min-width: 100px;
    line-height: 50px;
} */


.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}

.blue{
    background-color: blue;
}

.green{
    background-color: lightgreen;
}

.orange{
    background-color: orange;
}


/* ============= FLEX- FLOW =================================================================================================*/

.flex-container{
    display: flex;
   
    border: 1px solid  black;
    max-width: 500px;

    margin-bottom: 10px;
}

.default{
    flex-flow:  row nowrap;
}

.wrap-reverse{
    flex-flow: row wrap-reverse;
}

.wrap{
    flex-flow: row wrap;
}

.r-nowrap{
    flex-flow: row-reverse nowrap;
}


.r-wrap{
    flex: row-reverse wrap;
}

.rr-wrap{
    flex-flow: row-reverse wrap-reverse;
}
/* .item{
    background-color: blueviolet;
    margin: 5px;
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
} */


/* ========justify-content==================================================================== */

/* .container{
    max-width: 400px;
    border: 1px solid black;

    margin: 0;
    display: flex;

    margin-bottom: 10px;
}


.item{
    background-color: blueviolet;
    margin: 5px;
    text-align: center;
    color: white;

    width: 100px;
    height: 50px;
} */

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.center{
    justify-content: center;
}


/* =================== align - items ================================================================================================================================================== */

.container{
    max-width: 350px;
    border: 1px solid black;
    display: flex;

}

.item{
    background-color: blueviolet;
    margin: 5px;
    color: white;
    text-align: center;
}

.center{
    align-items: center;
}

.strectch{
    align-items: stretch;
}

.start{
    align-items: flex-start;
}

.end{
    align-items: flex-end;
}

.baseline{
    align-items: baseline;
}


.column{
    flex-direction: column;
}

.central{
    height: 400px;
    justify-content: center;
}

.central .item{
    flex: 0;
    padding: 20px;
}