/* pratica com diplay: flex */

.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
}

.item{
    background-color: aqua;
    margin: 5px;
}

/* 1 flex direction  */

.flex-container{
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;

    min-width: 0;
    min-height: 0;
}

.flex-item{
   background: blue;
   height: 50px;
   width: 50px;
   line-height: 50px; 
   font-size: 20px;
   color: white;
   text-align: center;
   margin: 5px;
}

.row{
    flex-direction: row;
}
.row-reverse {
    flex-direction: row-reverse;
}

.row-reverse li{
    background-color: red;
    flex-direction: row-reverse;
}

.column{
    float: left;
    flex-direction: column;
}

.column li{
    background: orange;
}

.column-reverse{
    float: right;
    flex-direction: column-reverse;
}

.column-reverse li{
   background: rebeccapurple; 
}