/* pratica com diplay: flex */

.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
}

/* .item{
    background-color: aqua;
    margin: 5px;
} */

/* 1 flex direction  */
/* 
.flex-container{
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;

    min-width: 0;
    min-height: 0;
} */

/* .flex-item{
   background: blue;
   height: 50px;
   width: 50px;
   line-height: 50px; 
   font-size: 20px;
   color: white;
   text-align: center;
   margin: 5px;
} */

.row{
    flex-direction: row;
}
.row-reverse {
    flex-direction: row-reverse;
}

.row-reverse li{
    background-color: red;
    flex-direction: row-reverse;
}

.column{
    float: left;
    flex-direction: column;
}

.column li{
    background: orange;
}

.column-reverse{
    float: right;
    flex-direction: column-reverse;
}

.column-reverse li{
   background: rebeccapurple; 
}


/* =============flex wrap============================================================================= */

.flex-container{
    display: flex;
    height: 100px;
    border: 2px solid black;
    max-width: 300px;
}

.item{
    font-size: 24px;
    height: 50%;
    text-align: center;
    min-width: 100px;
    line-height: 50px;
}


.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}

.blue{
    background-color: blue;
}

.green{
    background-color: lightgreen;
}

.orange{
    background-color: orange;
}